#root > header {
background-color: #457B9D;

}
#root > header > div{
    min-width: 100vw;
}


.container-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    justify-content: right;
}