.carrito {
  position: absolute;
  margin-top: 1rem;
  top: 20px;
  right: 0.1px;
  width: 350px;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 999; /* Ajusta el valor de z-index a uno alto */
}
.carrito-resumen {
  background-color: #fff;
  width: 350px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.parrafo-resumen {
  font-size: 16px !important;
}
.buttons-carrito {
  width: 150px !important;
}

.opciones-button-carrito {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  gap: 1rem !important;
}

.image-product {
  width: 100px;
  height: auto;
}

.carrito h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.carrito-items {
  overflow-y: auto;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 10px;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.card h3 {
  font-size: 1.2rem;
  margin: 5px 0;
}

.card p {
  font-size: 1rem;
  margin: 5px 0;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.carrito-resumen h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.carrito-resumen p {
  font-size: 1rem;
  margin: 5px 0;
}

.carrito-resumen button {
  margin-top: 10px;
}

#circle_btn {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  padding: 0 !important;
  font-size: 20px !important;
  background-color: rgb(149, 148, 148) !important;
}
