

#scroll-dialog-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog_grid_container{

  height: 50vh;

}

.der{
  height: 50vh;
}

.dialog_carousel{
  
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dialog_carousel_image{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;  

  object-fit: contain;
  
}