.search-input-container{
    /* hacer que los div se pongan juntos */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 0%;
}

.search-input{
    /* si es pc witdh 50% si es movil with 100% */
    width: 100%;
    margin-right: 0.5rem;
}
.container{
  width: 100%;
}

.div-izq{

  padding: 0%;
  width: 100%;
  height: 4rem;
  align-items: center;
  padding-top: 0.3rem;
}


/* Estilos para el icono de búsqueda */
.MuiInputAdornment-positionStart {
    color: #666; /* Cambia el color del icono según tu diseño */
    cursor: pointer; /* Cambia el cursor al pasar por encima del icono */
  }
  
  .MuiInputAdornment-positionStart:hover {
    color: #333; /* Cambia el color cuando se pasa el cursor por encima */
  }

  
  
  
  
  