

.search-input {
  width: 80%;; /* Ancho predeterminado para todos los tamaños de pantalla */
  margin-bottom: 20px;
}

/* Media query para pantallas pequeñas (<= 600px) */
@media (max-width: 600px) {
  .search-input {
    width: 100%; /* Ancho para pantallas pequeñas */
  }
}

/* Media query para pantallas medianas (601px - 960px) */
@media (min-width: 601px) and (max-width: 960px) {
  .search-input {
    width: 80%; /* Ancho para pantallas medianas */
  }
}

/* Media query para pantallas extra grandes (> 1920px) */
@media (min-width: 960px) {
  .search-input {
    width: 80%; /* Ancho para pantallas extra grandes */
    
  }
}

/* Estilos para el icono de búsqueda */
.MuiInputAdornment-positionStart {
    color: #666; /* Cambia el color del icono según tu diseño */
    cursor: pointer; /* Cambia el cursor al pasar por encima del icono */
  }
  
  .MuiInputAdornment-positionStart:hover {
    color: #333; /* Cambia el color cuando se pasa el cursor por encima */
  }

  
  
  
  
  