.profileInfo{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: right !important;
    align-items: center !important;
}

.profileInfo__textfield{
    min-width: 20rem;
    width: 30rem;
}

.profileInfo__button{
    width: 30rem;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
