.button_container {
  text-align: center;
  margin-top: 15px;
}

.button_container .add-button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.swal-custom {
  z-index: 9999 !important;
  /* Un valor alto para estar seguro de que esté por encima de los modales */
}

.grid-container2 {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  padding: 10px 10px;
  margin-top: 2rem !important;
  margin-bottom: 4rem;
  width: 100%;
  background-color: white;
}