.titlle_details{
    text-align: center;
    color: #005990;
}

.subtitlle_details{
    font-weight:bold ;
    color: #005990;
}

.info{
    font-size:larger;
    font-weight:bolder;
}

.info_client{
    display: inline;
    margin:'0';
    font-size:large;
    padding: '0';
    font-weight:normal;
}
