.containerStyle{
    background: linear-gradient(90deg, transparent, white, transparent);
    margin-top: 3vh;
    margin-bottom: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    height: 80vh ;
};

.leftSideStyle {
    background: #457B9D;
    display: flex;
    border-radius: 30px;
    height: 80vh ;
}

.rightSideStyle{
    background: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding:5vh;
}


.tituloInfoVero{
    color: #457B9D;
    margin-bottom: 2vh;
}

.textoScroll{
    background: white;
    height: 80vh;
    display: flex;
    overflow-y: auto;
};

/* Estilo para ocultar la barra de desplazamiento vertical */
.textoScroll::-webkit-scrollbar {
    width: 0.5em;
    /* Ancho de la barra de desplazamiento */
}

.textoScroll::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Color del "pulgarcito" de la barra de desplazamiento */
}

/* Estilo para ocultar la barra de desplazamiento horizontal */
.textoScroll::-webkit-scrollbar {
    height: 0.5em;
    /* Altura de la barra de desplazamiento */
}

.textoScroll::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Color del "pulgarcito" de la barra de desplazamiento */
}